/* line 1, sass/layout/_grid.scss */
.grid1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%; }

/* line 6, sass/layout/_grid.scss */
.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem; }

/* line 11, sass/layout/_grid.scss */
.grid2-gap5 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5rem; }

/* line 16, sass/layout/_grid.scss */
.flex1 {
  display: flex;
  justify-content: space-between; }

/* line 20, sass/layout/_grid.scss */
.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem; }

/* line 25, sass/layout/_grid.scss */
.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem; }

/* line 30, sass/layout/_grid.scss */
.grid5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1.5rem; }

/* line 35, sass/layout/_grid.scss */
.grid6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1rem; }

/* line 1, sass/base/_reset.scss */
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Mono", monospace; }

/* line 5, sass/base/_reset.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* line 10, sass/base/_reset.scss */
html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

/* line 14, sass/base/_reset.scss */
a {
  text-decoration: none; }

/* line 17, sass/base/_reset.scss */
li {
  list-style: none; }

/* line 20, sass/base/_reset.scss */
.container {
  width: 80%;
  margin: 0 auto; }

/* line 25, sass/base/_reset.scss */
input,
select {
  outline: none; }

/* line 29, sass/base/_reset.scss */
.active {
  border: 1px solid #173da7;
  padding: 0 0.8rem;
  border-radius: 1rem; }

/* line 35, sass/base/_reset.scss */
.body__home__page, .body__podcast__page {
  background-color: #161a1a; }

/* line 39, sass/base/_reset.scss */
.body__playlist {
  background-image: url(/images/BG-2.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

/* line 45, sass/base/_reset.scss */
.body__albom {
  background-image: url(/images/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

/* line 51, sass/base/_reset.scss */
.body__releases {
  background-color: #161a1a; }

/* line 54, sass/base/_reset.scss */
.body__artist {
  background-image: url(/images/orqa.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

/* line 60, sass/base/_reset.scss */
.body__myPlaylist {
  background-color: #161a1a; }

/* line 63, sass/base/_reset.scss */
.body__history {
  background-color: #161a1a; }

/* line 66, sass/base/_reset.scss */
.body__Mypodcast {
  background-color: #161a1a; }

/* line 69, sass/base/_reset.scss */
.body__setting {
  background-color: #161a1a; }

/* line 72, sass/base/_reset.scss */
.body__createPlaylist {
  background-color: #161a1a; }

/* line 75, sass/base/_reset.scss */
.body__signUp {
  background-image: url(/images/BG-22.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/* line 81, sass/base/_reset.scss */
.body__genre {
  background-color: #161a1a; }

/* line 84, sass/base/_reset.scss */
.body__play {
  background-color: #161a1a; }

/* line 87, sass/base/_reset.scss */
.body__ovewiev {
  background-image: url(/images/BGartist.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/* line 2, sass/layout/_navigation.scss */
.landing__nav {
  display: flex;
  justify-content: space-between; }
  /* line 7, sass/layout/_navigation.scss */
  .landing__nav .landing__nav-menus ul {
    display: flex; }
    /* line 9, sass/layout/_navigation.scss */
    .landing__nav .landing__nav-menus ul li {
      margin-left: 2.3rem; }
      /* line 11, sass/layout/_navigation.scss */
      .landing__nav .landing__nav-menus ul li a {
        font-size: 1.8rem;
        color: #fff; }
        /* line 14, sass/layout/_navigation.scss */
        .landing__nav .landing__nav-menus ul li a span {
          background-color: #fff;
          transition: all 0.4s ease-in-out;
          color: rgba(129, 5, 109, 0.959);
          padding: 0.3rem 1rem;
          border-radius: 0.8rem;
          border: 1px solid #fff; }
          /* line 21, sass/layout/_navigation.scss */
          .landing__nav .landing__nav-menus ul li a span:hover {
            background-color: transparent;
            color: #fff; }

/* line 32, sass/layout/_navigation.scss */
.home__nav {
  padding-top: 3rem;
  color: #fff;
  margin: 0 3rem;
  display: flex;
  justify-content: space-between; }
  /* line 38, sass/layout/_navigation.scss */
  .home__nav .home__nav--left {
    display: flex; }
    /* line 41, sass/layout/_navigation.scss */
    .home__nav .home__nav--left--list ul {
      margin-top: 1rem;
      display: flex; }
      /* line 44, sass/layout/_navigation.scss */
      .home__nav .home__nav--left--list ul li {
        margin-left: 4rem; }
        /* line 47, sass/layout/_navigation.scss */
        .home__nav .home__nav--left--list ul li a {
          color: #fff;
          font-size: 1.6rem;
          font-weight: 600; }
          /* line 51, sass/layout/_navigation.scss */
          .home__nav .home__nav--left--list ul li a:hover {
            background-image: linear-gradient(to right, #2da7f8, #5f61e3);
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text; }
  /* line 63, sass/layout/_navigation.scss */
  .home__nav--right input {
    background-color: #333;
    padding: 0.6rem 1rem;
    border-radius: 1.2rem;
    border: none;
    margin-right: 1rem;
    color: #fff; }
  /* line 71, sass/layout/_navigation.scss */
  .home__nav--right select {
    border: none;
    color: #fff;
    background-color: transparent; }

/* line 82, sass/layout/_navigation.scss */
.podcast__nav .home__nav--left--list ul li {
  margin-left: 3rem; }

/* line 90, sass/layout/_navigation.scss */
.home__nav--right ul {
  display: flex; }
  /* line 92, sass/layout/_navigation.scss */
  .home__nav--right ul li {
    margin-left: 2rem;
    padding: 0.6rem 0.9rem;
    border-radius: 0.8rem;
    transition: all 0.6s; }
    /* line 97, sass/layout/_navigation.scss */
    .home__nav--right ul li a {
      color: #fff;
      font-size: 1.4rem;
      transition: all 0.6s; }
      /* line 101, sass/layout/_navigation.scss */
      .home__nav--right ul li a:hover {
        background-image: linear-gradient(to right, #2da7f8, #5f61e3);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text; }
    /* line 108, sass/layout/_navigation.scss */
    .home__nav--right ul li:hover {
      background-color: #fff; }

/* line 1, sass/layout/_header.scss */
.landing__header {
  width: 95vw;
  height: 100vh;
  opacity: 0.99;
  background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.274)), url(/images/landing__header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 2rem;
  display: block;
  margin: 0 auto; }

/* line 1, sass/layout/_footer.scss */
.landing__footer {
  background-color: black;
  width: 95vw;
  display: block;
  margin: 0 auto;
  padding: 6rem 0; }

/* line 8, sass/layout/_footer.scss */
.footer {
  display: flex;
  justify-content: space-between; }
  /* line 12, sass/layout/_footer.scss */
  .footer--menus ul {
    transition: all 1.8s; }
    /* line 14, sass/layout/_footer.scss */
    .footer--menus ul li {
      transition: all 1.8s;
      margin: 1.2rem 0; }
      /* line 17, sass/layout/_footer.scss */
      .footer--menus ul li a {
        color: #fff;
        font-size: 1.4rem;
        transition: 0.5s ease-in-out; }
        /* line 22, sass/layout/_footer.scss */
        .footer--menus ul li a:hover {
          background-image: linear-gradient(to bottom, #2da7f8, #5f61e3);
          color: transparent;
          background-clip: text;
          -webkit-background-clip: text;
          background-color: #333; }
  /* line 34, sass/layout/_footer.scss */
  .footer--icons i {
    color: #fff;
    font-size: 1.4rem;
    padding: 1.5rem;
    border-radius: 50%;
    background-color: #333;
    transition: 0.5s ease-in-out;
    margin: 0 0.5rem; }
    /* line 42, sass/layout/_footer.scss */
    .footer--icons i:hover {
      background-image: linear-gradient(to bottom, #2da7f8, #5f61e3);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      background-color: #333; }

/* line 52, sass/layout/_footer.scss */
.footer__playlist {
  margin-top: 10rem; }

/* line 55, sass/layout/_footer.scss */
.footer__create--playlist {
  padding: 4rem 0; }

/* line 2, sass/base/_typography.scss */
.section__flow-box {
  padding-top: 1.5rem; }
  /* line 5, sass/base/_typography.scss */
  .section__flow-box--img img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 90%; }
  /* line 12, sass/base/_typography.scss */
  .section__flow-box--description {
    margin-top: 8rem;
    color: #fff; }

/* line 17, sass/base/_typography.scss */
.section__flow--description {
  width: 100%; }
  /* line 19, sass/base/_typography.scss */
  .section__flow--description p {
    line-height: 1.5;
    margin-top: 2rem; }

/* line 26, sass/base/_typography.scss */
.section__listen--description {
  color: #fff; }
  /* line 28, sass/base/_typography.scss */
  .section__listen--description h3 {
    padding-top: 10rem;
    font-size: 2.4rem; }
  /* line 32, sass/base/_typography.scss */
  .section__listen--description p {
    width: 50%;
    margin-top: 3rem;
    line-height: 1.5;
    font-size: 1.4rem; }

/* line 41, sass/base/_typography.scss */
.section__find-box {
  padding-top: 5rem; }
  /* line 43, sass/base/_typography.scss */
  .section__find-box--description {
    color: #fff; }
    /* line 45, sass/base/_typography.scss */
    .section__find-box--description h3 {
      margin-top: 8rem;
      font-size: 2rem; }
    /* line 49, sass/base/_typography.scss */
    .section__find-box--description p {
      font-size: 1.3rem;
      line-height: 2;
      margin-top: 2rem; }
  /* line 56, sass/base/_typography.scss */
  .section__find-box--img img {
    display: block;
    margin: 0 auto;
    width: 20rem;
    height: 30rem; }

/* line 64, sass/base/_typography.scss */
.title {
  text-align: center;
  color: #fff;
  font-size: 2.3rem; }

/* line 69, sass/base/_typography.scss */
.paragraph {
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  padding: 3rem 0; }

/* line 75, sass/base/_typography.scss */
.comment {
  display: flex;
  justify-content: space-between; }
  /* line 80, sass/base/_typography.scss */
  .comment__list--1 ul {
    display: flex; }
    /* line 82, sass/base/_typography.scss */
    .comment__list--1 ul li {
      margin-right: 2rem; }
      /* line 84, sass/base/_typography.scss */
      .comment__list--1 ul li a {
        color: #fff;
        transition: 0.5s ease-in-out; }
        /* line 87, sass/base/_typography.scss */
        .comment__list--1 ul li a:hover {
          color: coral; }
  /* line 95, sass/base/_typography.scss */
  .comment__list--2 select {
    border: none;
    outline: none;
    padding: 0.5rem 1.1rem; }
  /* line 100, sass/base/_typography.scss */
  .comment__list--2 p {
    text-align: center;
    color: #fff;
    margin-top: 1.1rem; }

/* line 108, sass/base/_typography.scss */
.more {
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  margin: 2.6rem 0; }
  /* line 114, sass/base/_typography.scss */
  .more p {
    font-weight: 900;
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.5s ease-in-out; }
    /* line 119, sass/base/_typography.scss */
    .more p:hover {
      background-image: linear-gradient(to bottom, #2da7f8, #5f61e3);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text; }
  /* line 126, sass/base/_typography.scss */
  .more i {
    cursor: pointer;
    transition: 0.5s ease-in-out; }
    /* line 129, sass/base/_typography.scss */
    .more i:hover {
      background-image: linear-gradient(to bottom, #2da7f8, #5f61e3);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text; }

/* line 138, sass/base/_typography.scss */
.play img {
  display: block;
  margin: 6rem auto;
  margin-bottom: 2rem;
  height: 6rem;
  width: 95vw; }

/* line 149, sass/base/_typography.scss */
.music__podcast div img,
.music__types div img {
  width: 17rem;
  height: 10rem; }

/* line 156, sass/base/_typography.scss */
.landing__header-description {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15rem; }
  /* line 163, sass/base/_typography.scss */
  .landing__header-description h2 {
    font-size: 2.6rem;
    font-weight: 900;
    margin-bottom: 2rem; }
  /* line 169, sass/base/_typography.scss */
  .landing__header-description p {
    margin-top: 4rem; }
    /* line 171, sass/base/_typography.scss */
    .landing__header-description p span {
      color: blue; }

/* line 177, sass/base/_typography.scss */
.middle {
  margin-left: 9rem; }

/* line 180, sass/base/_typography.scss */
.this__week {
  margin-top: 4rem; }

/* line 184, sass/base/_typography.scss */
.flex1 div {
  text-align: center;
  margin-right: 2rem; }
  /* line 187, sass/base/_typography.scss */
  .flex1 div p {
    color: #fff;
    font-size: 1.2rem; }
  /* line 191, sass/base/_typography.scss */
  .flex1 div span {
    color: rgba(240, 248, 255, 0.432); }

/* line 196, sass/base/_typography.scss */
.feature_items {
  margin: 3rem 0; }

/* line 200, sass/base/_typography.scss */
.more div {
  opacity: 0.7;
  display: flex; }
  /* line 203, sass/base/_typography.scss */
  .more div i {
    margin-right: 2rem; }

/* line 207, sass/base/_typography.scss */
.more select,
.more input {
  background-color: transparent;
  color: #fff;
  border: none;
  opacity: 0.7; }

/* line 215, sass/base/_typography.scss */
.playlist__link {
  margin-top: 1rem;
  transition: all 0.5s ease-in-out; }
  /* line 218, sass/base/_typography.scss */
  .playlist__link a {
    color: #fff;
    font-size: 1.4rem;
    position: relative;
    margin-right: 1.4rem;
    transition: all 0.5s ease-in-out; }
    /* line 224, sass/base/_typography.scss */
    .playlist__link a::after {
      transition: all 0.5s ease-in-out;
      position: absolute;
      top: 2rem;
      left: 0;
      content: "";
      width: 0;
      height: 0.2rem;
      background-color: #5f61e3; }
    /* line 234, sass/base/_typography.scss */
    .playlist__link a:hover::after {
      width: 100%; }

/* line 239, sass/base/_typography.scss */
.heading {
  margin-left: 3rem; }

/* line 243, sass/base/_typography.scss */
.draw {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.363);
  margin: 2rem 0; }

/* line 249, sass/base/_typography.scss */
.search__playlist {
  margin: 0;
  margin-top: 2rem; }

/* line 253, sass/base/_typography.scss */
.essential {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2rem;
  padding: 0.4rem 2rem;
  font-size: 1.5rem; }

/* line 260, sass/base/_typography.scss */
.add_btn {
  width: 6.5rem;
  text-align: center;
  margin-left: 20rem;
  margin-bottom: 1rem; }
  /* line 265, sass/base/_typography.scss */
  .add_btn:hover {
    background-image: linear-gradient(#5353e0, #222274); }

/* line 3, sass/pages/_landing.scss */
.section__flow {
  width: 95vw;
  height: 70vh;
  background-color: #161a1a;
  display: block;
  margin: 0 auto; }
  /* line 9, sass/pages/_landing.scss */
  .section__flow--icon {
    transition: all 0.6s;
    transform: translateX(-4rem); }
  /* line 13, sass/pages/_landing.scss */
  .section__flow-box--img {
    transform: scale(0.7);
    transition: all 0.7s;
    width: 35rem;
    height: 35rem;
    margin-top: 5rem; }
  /* line 21, sass/pages/_landing.scss */
  .section__flow:hover .section__flow-box--img {
    transform: scale(1); }
  /* line 24, sass/pages/_landing.scss */
  .section__flow:hover .section__flow--icon {
    transform: translateX(-1rem); }

/* line 29, sass/pages/_landing.scss */
.section__listen {
  width: 95vw;
  height: 60vh;
  background-image: url(/images/qqqq.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto; }

/* line 39, sass/pages/_landing.scss */
.section__find {
  width: 95vw;
  height: 60vh;
  background-color: #161a1a;
  display: block;
  margin: 0 auto; }
  /* line 45, sass/pages/_landing.scss */
  .section__find-box--img {
    transform: rotateY(-180deg);
    transition: all 0.6s; }
  /* line 50, sass/pages/_landing.scss */
  .section__find-box--img:hover {
    transform: rotateY(0deg); }

/* line 55, sass/pages/_landing.scss */
.section__premium {
  width: 95vw;
  height: 100vh;
  background-color: #161a1a;
  display: block;
  margin: 0 auto;
  padding: 0 10rem;
  overflow: hidden; }
  /* line 63, sass/pages/_landing.scss */
  .section__premium-icons {
    padding: 0 6rem;
    margin-top: 4rem; }

/* line 70, sass/pages/_landing.scss */
.icon i {
  transform: scale(0.6);
  transition: all 0.6s;
  margin-bottom: 1rem; }

/* line 78, sass/pages/_landing.scss */
.icon i:hover {
  transform: scale(0.8);
  box-shadow: #f7f7f7 0px 7px 29px 0px; }

/* line 84, sass/pages/_landing.scss */
.musicbox--card--1 {
  animation-name: card-1;
  animation-duration: 1.5s;
  animation-iteration-count: 1; }

/* line 89, sass/pages/_landing.scss */
.musicbox--card--2 {
  animation-name: card-2;
  animation-duration: 1.5s;
  animation-iteration-count: 1; }

@keyframes card-1 {
  0% {
    transform: translateX(-60rem); }
  100% {
    transform: translateX(0); } }

@keyframes card-2 {
  0% {
    transform: translateX(60rem); }
  100% {
    transform: translateX(0); } }

/* line 110, sass/pages/_landing.scss */
.comment__list--2 select {
  background-color: transparent;
  color: #fff; }

/* line 1, sass/pages/_playlist.scss */
.section__playlist {
  margin-top: 5rem; }

/* line 5, sass/pages/_playlist.scss */
.header__playlist--left {
  display: flex; }
  /* line 7, sass/pages/_playlist.scss */
  .header__playlist--left img {
    width: 15rem;
    height: 15rem; }
  /* line 11, sass/pages/_playlist.scss */
  .header__playlist--left div {
    margin-left: 3rem;
    color: #fff; }
    /* line 14, sass/pages/_playlist.scss */
    .header__playlist--left div span {
      font-weight: 600;
      font-size: 1.6rem;
      margin: 0.8rem 0; }
    /* line 19, sass/pages/_playlist.scss */
    .header__playlist--left div h2 {
      font-weight: 800;
      font-size: 3.2rem; }
    /* line 23, sass/pages/_playlist.scss */
    .header__playlist--left div p {
      color: aliceblue;
      opacity: 0.7; }

/* line 29, sass/pages/_playlist.scss */
.header__playlist--right {
  text-align: right; }
  /* line 31, sass/pages/_playlist.scss */
  .header__playlist--right p {
    color: #fff;
    margin-top: 2rem; }
  /* line 35, sass/pages/_playlist.scss */
  .header__playlist--right i {
    color: #fff;
    font-size: 1.8rem;
    margin-left: 2rem;
    border: 1px solid #fff;
    padding: 1rem;
    border-radius: 50%;
    transition: all 0.9s; }
    /* line 43, sass/pages/_playlist.scss */
    .header__playlist--right i:hover {
      color: crimson; }

/* line 49, sass/pages/_playlist.scss */
.songs {
  margin: 1rem 0;
  padding-top: 1.6rem; }
  /* line 51, sass/pages/_playlist.scss */
  .songs .colum1 {
    display: flex; }
    /* line 52, sass/pages/_playlist.scss */
    .songs .colum1 img {
      margin-top: -1.5rem;
      margin-right: 0.8rem;
      margin-left: 0.8rem; }
  /* line 60, sass/pages/_playlist.scss */
  .songs:hover {
    background-color: rgba(255, 255, 255, 0.293);
    transition: all 0.6s; }
    /* line 63, sass/pages/_playlist.scss */
    .songs:hover div {
      color: rgba(255, 255, 255, 0.973); }
  /* line 67, sass/pages/_playlist.scss */
  .songs div:not(:first-child) {
    text-align: right; }
  /* line 70, sass/pages/_playlist.scss */
  .songs div {
    color: #fff;
    font-size: 1.4rem; }
    /* line 73, sass/pages/_playlist.scss */
    .songs div span {
      color: #fff;
      opacity: 0.5; }
    /* line 78, sass/pages/_playlist.scss */
    .songs div i:hover {
      color: crimson; }

/* line 2, sass/pages/_home.scss */
.flow__img img {
  height: 20rem;
  width: 35rem;
  border-radius: 1rem; }

/* line 8, sass/pages/_home.scss */
.flow__img--2 {
  text-align: center;
  color: #fff; }
  /* line 11, sass/pages/_home.scss */
  .flow__img--2 img {
    height: 16em;
    width: 16.5rem;
    border-radius: 1rem; }
  /* line 16, sass/pages/_home.scss */
  .flow__img--2 .like {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    opacity: 0.7; }
    /* line 22, sass/pages/_home.scss */
    .flow__img--2 .like i {
      margin-right: 0.8rem; }
      /* line 24, sass/pages/_home.scss */
      .flow__img--2 .like i:hover {
        color: crimson; }

/* line 30, sass/pages/_home.scss */
.images__artists {
  margin-bottom: 6rem; }

/* line 1, sass/pages/_podcast.scss */
.feature {
  margin-top: 10rem; }

/* line 4, sass/pages/_podcast.scss */
.categories {
  margin: 5rem auto; }

/* line 7, sass/pages/_podcast.scss */
.music__podcast {
  margin: 3rem 0; }

/* line 1, sass/pages/_albom.scss */
.albom {
  padding: 1rem;
  margin: 1rem 0;
  padding-top: 1.6rem; }
  /* line 4, sass/pages/_albom.scss */
  .albom .colum1 {
    display: flex; }
    /* line 5, sass/pages/_albom.scss */
    .albom .colum1 img {
      margin-top: -1.5rem;
      margin-right: 0.8rem; }
  /* line 12, sass/pages/_albom.scss */
  .albom:hover {
    background-color: rgba(255, 255, 255, 0.293);
    transition: all 0.6s; }
    /* line 15, sass/pages/_albom.scss */
    .albom:hover div {
      color: rgba(255, 255, 255, 0.973); }
  /* line 19, sass/pages/_albom.scss */
  .albom div:not(:first-child) {
    text-align: right; }
  /* line 22, sass/pages/_albom.scss */
  .albom div {
    color: #fff;
    font-size: 1.4rem; }
    /* line 25, sass/pages/_albom.scss */
    .albom div span {
      color: #fff;
      opacity: 0.5; }
    /* line 30, sass/pages/_albom.scss */
    .albom div i:hover {
      color: crimson; }

/* line 1, sass/pages/_myPlaylist.scss */
.card__active {
  border: 1px solid #fff;
  padding: 6rem 0;
  height: 16rem;
  border-radius: 1rem;
  transition: all 0.6s;
  margin-bottom: 7rem; }
  /* line 9, sass/pages/_myPlaylist.scss */
  .card__active i {
    transition: all 0.6s;
    border-radius: 50%;
    font-size: 2rem;
    margin-bottom: 0.6rem;
    padding: 1rem; }
  /* line 16, sass/pages/_myPlaylist.scss */
  .card__active:hover {
    box-shadow: rgba(255, 255, 255, 0.9) 0px 1px 4px; }
    /* line 17, sass/pages/_myPlaylist.scss */
    .card__active:hover i {
      background-color: aqua; }

/* line 24, sass/pages/_myPlaylist.scss */
.footer__playlist {
  position: relative; }
  /* line 26, sass/pages/_myPlaylist.scss */
  .footer__playlist--plus {
    border-radius: 1rem;
    background-color: #393a3c;
    position: absolute;
    padding: 0.6rem;
    top: -8rem;
    left: 25rem; }
    /* line 33, sass/pages/_myPlaylist.scss */
    .footer__playlist--plus:hover {
      box-shadow: rgba(255, 255, 255, 0.9) 0px 1px 4px; }
    /* line 37, sass/pages/_myPlaylist.scss */
    .footer__playlist--plus ul li {
      display: flex;
      color: aliceblue; }
      /* line 40, sass/pages/_myPlaylist.scss */
      .footer__playlist--plus ul li p {
        margin-top: 1rem; }
      /* line 43, sass/pages/_myPlaylist.scss */
      .footer__playlist--plus ul li img {
        width: 3rem;
        height: 3rem;
        margin: 0.4rem; }

/* line 2, sass/pages/_setting.scss */
.my__account--img {
  display: flex;
  margin-top: 2.5rem;
  color: #fff; }
  /* line 5, sass/pages/_setting.scss */
  .my__account--img i {
    color: #fff;
    font-size: 4rem;
    margin-right: 2rem;
    transition: all 0.6s; }
    /* line 10, sass/pages/_setting.scss */
    .my__account--img i:hover {
      background-image: linear-gradient(to right, #2da7f8, #5f61e3);
      color: transparent;
      display: inline-block;
      background-clip: text;
      -webkit-background-clip: text; }

/* line 20, sass/pages/_setting.scss */
.my__account h3 {
  font-size: 1.8rem; }

/* line 23, sass/pages/_setting.scss */
.my__account p {
  font-size: 1.7rem; }

/* line 27, sass/pages/_setting.scss */
.input__item,
.setting__select {
  display: flex;
  flex-direction: column; }
  /* line 31, sass/pages/_setting.scss */
  .input__item label,
  .setting__select label {
    color: rgba(255, 255, 255, 0.459);
    font-size: 1.4rem;
    margin: 1rem 0; }
  /* line 36, sass/pages/_setting.scss */
  .input__item input,
  .input__item select,
  .setting__select input,
  .setting__select select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.459);
    padding: 1rem 0;
    color: #fff; }
    /* line 43, sass/pages/_setting.scss */
    .input__item input ::placeholder,
    .input__item select ::placeholder,
    .setting__select input ::placeholder,
    .setting__select select ::placeholder {
      color: #fff; }

/* line 48, sass/pages/_setting.scss */
.setting--title {
  color: #fff;
  font-size: 1.9rem;
  font-weight: 800; }

/* line 53, sass/pages/_setting.scss */
.setting__albom--item {
  margin: 1.4rem 0; }
  /* line 55, sass/pages/_setting.scss */
  .setting__albom--item input {
    border-radius: 50%; }
  /* line 58, sass/pages/_setting.scss */
  .setting__albom--item span {
    color: rgba(255, 255, 255, 0.473);
    font-size: 1.3rem;
    margin-left: 1rem; }

/* line 65, sass/pages/_setting.scss */
.account__list li {
  font-size: 1.4rem;
  margin: 1.4rem 0; }
  /* line 68, sass/pages/_setting.scss */
  .account__list li a {
    color: #fff; }
  /* line 71, sass/pages/_setting.scss */
  .account__list li span {
    color: rgba(255, 255, 255, 0.623); }

/* line 2, sass/pages/_signUp.scss */
.signUp__main {
  width: 100%;
  height: 80vh; }

/* line 6, sass/pages/_signUp.scss */
.signUp__card {
  position: relative;
  background-color: #fff;
  width: 35%;
  margin: 0 auto;
  height: 80vh;
  padding: 2rem 5rem;
  border-radius: 1rem; }
  /* line 14, sass/pages/_signUp.scss */
  .signUp__card h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 800; }

/* line 20, sass/pages/_signUp.scss */
.signUp__aplication {
  margin: 1.3rem 0;
  display: flex;
  justify-content: space-between; }
  /* line 24, sass/pages/_signUp.scss */
  .signUp__aplication .facebook,
  .signUp__aplication .google {
    background-color: #3568b8;
    padding: 0.4rem 2rem;
    border: none;
    border-radius: 1.6rem;
    width: 40%;
    color: #fff;
    display: flex;
    font-size: 1.6rem;
    text-align: center; }
    /* line 36, sass/pages/_signUp.scss */
    .signUp__aplication .facebook i,
    .signUp__aplication .google i {
      margin-right: 2rem; }
  /* line 40, sass/pages/_signUp.scss */
  .signUp__aplication .google {
    background-color: #fff;
    color: #333;
    border: 1px solid #333; }
    /* line 44, sass/pages/_signUp.scss */
    .signUp__aplication .google i {
      color: #eb6d05; }

/* line 51, sass/pages/_signUp.scss */
.signUp__inputs input {
  display: block;
  width: 100%;
  margin: 0.8rem 0;
  border: 1px solid #0effeb;
  padding: 1rem;
  border-radius: 0.5rem; }
  /* line 58, sass/pages/_signUp.scss */
  .signUp__inputs input:focus + label {
    color: #03ff03; }

/* line 62, sass/pages/_signUp.scss */
.signUp__inputs label {
  color: red; }

/* line 66, sass/pages/_signUp.scss */
.signUp__select {
  display: flex;
  justify-content: space-between; }
  /* line 69, sass/pages/_signUp.scss */
  .signUp__select select {
    width: 45%;
    border: 1px solid #3333;
    padding: 0.8rem 1rem;
    border-radius: 0.6rem; }
    /* line 74, sass/pages/_signUp.scss */
    .signUp__select select:hover {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; }

/* line 79, sass/pages/_signUp.scss */
.signUp__robot {
  display: flex;
  border: 1px solid #333;
  padding: 2rem 1.2rem;
  border-radius: 0.6rem;
  margin: 1rem 2rem;
  font-size: 1.4rem; }
  /* line 86, sass/pages/_signUp.scss */
  .signUp__robot input {
    margin-top: 0.2rem;
    margin-right: 0.7rem; }
  /* line 90, sass/pages/_signUp.scss */
  .signUp__robot i {
    margin-left: 16rem;
    font-size: 1.4rem;
    color: blue;
    font-weight: bold; }

/* line 97, sass/pages/_signUp.scss */
.signUp__button {
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column; }
  /* line 102, sass/pages/_signUp.scss */
  .signUp__button p {
    color: #333; }
  /* line 105, sass/pages/_signUp.scss */
  .signUp__button span {
    color: #3568b8;
    margin: 0.5rem 0; }
  /* line 109, sass/pages/_signUp.scss */
  .signUp__button a {
    background-color: #009ef6;
    display: block;
    margin: 1.2rem auto;
    padding: 1rem;
    text-align: center;
    color: #fff;
    width: 90%;
    border: 1px solid #009ef6;
    border-radius: 0.6rem;
    transition: all 0.8s; }
    /* line 120, sass/pages/_signUp.scss */
    .signUp__button a:hover {
      background-color: #fff;
      color: #009ef6; }

/* line 126, sass/pages/_signUp.scss */
.signUp__close {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1rem; }
  /* line 131, sass/pages/_signUp.scss */
  .signUp__close:hover {
    color: red;
    cursor: pointer; }

/* line 2, sass/pages/_loginIn.scss */
.loginIn__card {
  position: relative;
  background-color: #fff;
  width: 30%;
  margin: 0 auto;
  height: 65vh;
  padding: 2rem 5rem;
  border-radius: 1rem; }

/* line 11, sass/pages/_loginIn.scss */
.loginIn__btn {
  background-color: #edf9ff;
  display: block;
  margin: 1.2rem auto;
  padding: 1rem;
  text-align: center;
  color: #555;
  width: 90%;
  border: 1px solid #555;
  border-radius: 0.6rem;
  transition: all 0.8s; }
  /* line 22, sass/pages/_loginIn.scss */
  .loginIn__btn:hover {
    background-color: #555;
    color: #ffffff; }

/* line 27, sass/pages/_loginIn.scss */
.loginIn__check {
  display: flex; }
  /* line 29, sass/pages/_loginIn.scss */
  .loginIn__check p {
    margin-top: 0.6rem;
    width: 100%; }

/* line 1, sass/pages/_popup.scss */
.popup {
  background-color: #161a1a;
  opacity: 0.9;
  height: 100vh;
  width: 100vw;
  position: fixed; }
  /* line 7, sass/pages/_popup.scss */
  .popup__card {
    padding: 1.6rem;
    position: relative;
    background-color: #333;
    width: 30%;
    height: 38vh;
    margin: 20rem auto; }
    /* line 14, sass/pages/_popup.scss */
    .popup__card h3 {
      color: #fff;
      margin-bottom: 1.2rem; }
    /* line 18, sass/pages/_popup.scss */
    .popup__card input,
    .popup__card textarea {
      width: 100%;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #2b2bd3;
      padding: 0.8rem 0;
      color: #fff; }
    /* line 27, sass/pages/_popup.scss */
    .popup__card textarea {
      height: 8rem;
      outline: none;
      border-bottom: 1px solid rgba(201, 169, 169, 0.281); }
  /* line 33, sass/pages/_popup.scss */
  .popup__desc {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    color: #fff;
    font-size: 1.3rem; }
  /* line 40, sass/pages/_popup.scss */
  .popup__btn {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem; }
    /* line 44, sass/pages/_popup.scss */
    .popup__btn a {
      border: 1px solid #fff;
      border-radius: 1.2rem;
      padding: 0.4rem 2rem;
      color: #fff;
      transition: all 0.5s; }
      /* line 50, sass/pages/_popup.scss */
      .popup__btn a:hover {
        background-image: linear-gradient(to right, #2da7f8, #5f61e3); }

/* line 2, sass/pages/_genre.scss */
.genre__title {
  color: #fff;
  font-size: 2rem;
  margin: 2rem 0; }

/* line 7, sass/pages/_genre.scss */
.genre__images {
  margin: 2rem 0; }
  /* line 10, sass/pages/_genre.scss */
  .genre__images div img {
    width: 18rem;
    height: 10rem; }

/* line 1, sass/pages/_play.scss */
.play {
  display: block;
  padding: 2rem;
  position: relative;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
  background-color: #383a3c;
  height: 5rem; }
  /* line 11, sass/pages/_play.scss */
  .play i {
    font-size: 1.5rem;
    color: #fff; }
  /* line 15, sass/pages/_play.scss */
  .play i {
    cursor: pointer;
    transition: 0.5s ease-in-out;
    margin-right: 0.2rem; }
    /* line 19, sass/pages/_play.scss */
    .play i:hover {
      background-image: linear-gradient(to bottom, #2da7f8, #5f61e3);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text; }
  /* line 27, sass/pages/_play.scss */
  .play--left {
    display: flex; }
    /* line 29, sass/pages/_play.scss */
    .play--left i {
      margin-left: 2rem; }
    /* line 32, sass/pages/_play.scss */
    .play--left img {
      position: absolute;
      width: 4rem;
      height: 4rem;
      margin: 0;
      top: 5px;
      left: 3px; }
    /* line 40, sass/pages/_play.scss */
    .play--left--name {
      margin-left: 4rem; }
      /* line 42, sass/pages/_play.scss */
      .play--left--name p {
        color: #fff;
        font-size: 1.2rem;
        margin-top: -1rem;
        margin-bottom: 0.3rem; }
      /* line 48, sass/pages/_play.scss */
      .play--left--name span {
        color: #fff;
        font-size: 1.2rem; }
  /* line 55, sass/pages/_play.scss */
  .play--middle--top {
    margin-top: -1rem; }
  /* line 58, sass/pages/_play.scss */
  .play--middle--bottom {
    margin-left: -10rem;
    margin-top: 1rem;
    display: flex; }
    /* line 62, sass/pages/_play.scss */
    .play--middle--bottom--value {
      width: 30rem;
      height: 2px;
      background-color: #2da7f8; }
    /* line 67, sass/pages/_play.scss */
    .play--middle--bottom span {
      margin-top: -0.6rem;
      color: #fff; }
  /* line 73, sass/pages/_play.scss */
  .play--right {
    display: flex; }
    /* line 75, sass/pages/_play.scss */
    .play--right--value {
      width: 5rem;
      height: 2px;
      background-color: #fcfeff;
      margin-top: 0.7rem;
      margin-left: 0.8rem; }

/* line 1, sass/pages/_overwiev.scss */
.section__overwiev {
  margin: 3rem 0; }

/* line 1, sass/pages/_creteatePlaylist.scss */
.search__playlist {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-left: 14rem; }
  /* line 6, sass/pages/_creteatePlaylist.scss */
  .search__playlist select,
  .search__playlist input {
    background-color: transparent;
    color: #fff;
    border: none;
    opacity: 0.7; }

/* line 1, sass/pages/_modal.scss */
.modal {
  position: absolute;
  background-color: #303033;
  right: 1rem;
  top: 5rem;
  width: 17vw;
  height: 80vh;
  padding: 1rem;
  border-radius: 0.6rem;
  color: #fff; }
  /* line 11, sass/pages/_modal.scss */
  .modal--header {
    display: flex;
    justify-content: space-between; }
    /* line 14, sass/pages/_modal.scss */
    .modal--header p {
      font-size: 1.2rem; }
  /* line 18, sass/pages/_modal.scss */
  .modal--active {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between; }
    /* line 22, sass/pages/_modal.scss */
    .modal--active--left {
      display: flex;
      justify-content: space-between; }
      /* line 25, sass/pages/_modal.scss */
      .modal--active--left img {
        width: 5rem;
        height: 3rem;
        margin-right: 0.6rem;
        padding: 0 0.8rem;
        margin-top: 0.2rem; }
      /* line 32, sass/pages/_modal.scss */
      .modal--active--left div {
        margin-top: 0.6rem; }
        /* line 34, sass/pages/_modal.scss */
        .modal--active--left div p {
          color: #2da7f8; }
    /* line 39, sass/pages/_modal.scss */
    .modal--active--right {
      display: flex;
      justify-content: space-between; }
    /* line 43, sass/pages/_modal.scss */
    .modal--active i {
      font-size: 1.2rem;
      margin-left: 1.2rem;
      margin-top: 1.2rem;
      transition: all 0.7s; }
      /* line 48, sass/pages/_modal.scss */
      .modal--active i:hover {
        background-image: linear-gradient(to bottom, #2da7f8, #5f61e3);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text; }
  /* line 56, sass/pages/_modal.scss */
  .modal--button {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem; }
    /* line 60, sass/pages/_modal.scss */
    .modal--button span {
      color: #fff; }
    /* line 63, sass/pages/_modal.scss */
    .modal--button a {
      color: #fff;
      border: 1px solid #fff;
      padding: 0.2rem 1rem;
      border-radius: 1.2rem; }
      /* line 68, sass/pages/_modal.scss */
      .modal--button a:hover {
        background-image: linear-gradient(to bottom, #2da7f8, #5f61e3); }
  /* line 73, sass/pages/_modal.scss */
  .modal--item {
    transition: all 0.7s; }
    /* line 75, sass/pages/_modal.scss */
    .modal--item:hover {
      background-color: #f851f8; }

/* line 1, sass/components/icons.scss */
.icon {
  text-align: center;
  color: #fff; }
  /* line 4, sass/components/icons.scss */
  .icon i {
    font-size: 2.9rem;
    background-image: linear-gradient(to bottom, #2da7f8, #5f61e3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-color: #333; }

/* line 1, sass/components/_card.scss */
.musicbox--card {
  color: #fff;
  border: 1px solid #fff;
  padding: 2rem;
  width: 70%;
  height: 30rem;
  position: relative;
  transition: all 0.5s; }
  /* line 9, sass/components/_card.scss */
  .musicbox--card h3 {
    font-size: 1.6rem; }
  /* line 12, sass/components/_card.scss */
  .musicbox--card p {
    font-size: 1.6rem;
    margin: 0.8rem 0; }
    /* line 15, sass/components/_card.scss */
    .musicbox--card p span {
      font-size: 1.2rem; }
  /* line 19, sass/components/_card.scss */
  .musicbox--card ul {
    margin-top: 2 rem; }
    /* line 21, sass/components/_card.scss */
    .musicbox--card ul li {
      font-size: 1.2rem;
      margin: 2rem 0; }
    /* line 25, sass/components/_card.scss */
    .musicbox--card ul i {
      margin-right: 1.5rem; }
  /* line 31, sass/components/_card.scss */
  .musicbox--card--2 p {
    background-image: linear-gradient(to bottom, #2da7f8, #5f61e3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-color: #333; }
  /* line 39, sass/components/_card.scss */
  .musicbox--card--2 ul i {
    background-image: linear-gradient(to bottom, #2da7f8, #5f61e3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-color: #333; }

/* line 49, sass/components/_card.scss */
.section__premium--cards {
  padding: 0 10rem; }

/* line 1, sass/components/_buttons.scss */
.btn {
  position: absolute;
  color: #fff;
  font-size: 1.4rem;
  bottom: -7rem;
  border: 1px solid #fff;
  padding: 1.2rem 1.4rem;
  border-radius: 2rem;
  transition: 0.5s; }
  /* line 10, sass/components/_buttons.scss */
  .btn:hover {
    background-image: linear-gradient(to bottom, #2da7f8, #5f61e3); }

/* line 14, sass/components/_buttons.scss */
.header-btn {
  color: #fff;
  font-size: 1.4rem;
  border: 1px solid #fff;
  padding: 0.6rem 1.4rem;
  border-radius: 2rem;
  transition: 0.5s; }
  /* line 23, sass/components/_buttons.scss */
  .header-btn:hover {
    background-image: linear-gradient(to right, #2da7f8, #5f61e3); }

/* line 27, sass/components/_buttons.scss */
.podcast_btn {
  position: relative;
  padding: 1rem5;
  border-radius: 1.9rem;
  display: block;
  margin: 0 auto;
  width: 20rem;
  text-align: center;
  margin-top: -3rem;
  transition: all 0.5s ease-in-out; }

/* line 38, sass/components/_buttons.scss */
.btn_universal {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  border: 1px solid #fff;
  padding: 0.6rem 5rem;
  border-radius: 2rem;
  transition: all 1s; }
  /* line 47, sass/components/_buttons.scss */
  .btn_universal:hover {
    background-image: linear-gradient(to right, #2da7f8, #5f61e3); }

/* line 51, sass/components/_buttons.scss */
.artist_btn {
  display: block;
  margin: 4rem auto;
  width: 20rem;
  text-align: center; }
