/* line 1, sass/layout/_grid.scss */
.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem; }

/* line 7, sass/layout/_grid.scss */
.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem; }

/* line 12, sass/layout/_grid.scss */
.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem; }

/* line 1, sass/base/_reset.scss */
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Mono", monospace; }

/* line 5, sass/base/_reset.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* line 10, sass/base/_reset.scss */
html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

/* line 14, sass/base/_reset.scss */
a {
  text-decoration: none; }

/* line 17, sass/base/_reset.scss */
li {
  list-style: none; }

/* line 20, sass/base/_reset.scss */
.container {
  width: 80%;
  margin: 0 auto; }

/* line 2, sass/layout/_navigation.scss */
.landing__nav {
  display: flex;
  justify-content: space-between; }
  /* line 7, sass/layout/_navigation.scss */
  .landing__nav .landing__nav-menus ul {
    display: flex; }
    /* line 9, sass/layout/_navigation.scss */
    .landing__nav .landing__nav-menus ul li {
      margin-left: 2.3rem; }
      /* line 11, sass/layout/_navigation.scss */
      .landing__nav .landing__nav-menus ul li a {
        font-size: 1.8rem;
        color: #fff; }
        /* line 14, sass/layout/_navigation.scss */
        .landing__nav .landing__nav-menus ul li a span {
          background-color: #fff;
          transition: all 0.4s ease-in-out;
          color: rgba(129, 5, 109, 0.959);
          padding: 0.8rem 1rem;
          border-radius: 0.8rem;
          border: 1px solid #fff; }
          /* line 21, sass/layout/_navigation.scss */
          .landing__nav .landing__nav-menus ul li a span:hover {
            background-color: transparent;
            color: #fff; }

/* line 1, sass/layout/_header.scss */
header {
  width: 95vw;
  height: 100vh;
  background-image: url(/images/BG-22.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 2rem;
  display: block;
  margin: 0 auto; }

/* line 2, sass/base/typography.scss */
.section__flow-box {
  padding-top: 1.5rem; }
  /* line 5, sass/base/typography.scss */
  .section__flow-box--img img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 90%; }
  /* line 12, sass/base/typography.scss */
  .section__flow-box--description {
    margin-top: 8rem;
    color: #fff; }

/* line 17, sass/base/typography.scss */
.section__flow--description {
  width: 100%; }
  /* line 19, sass/base/typography.scss */
  .section__flow--description p {
    line-height: 1.5;
    margin-top: 2rem; }

/* line 26, sass/base/typography.scss */
.section__listen--description {
  color: #fff; }
  /* line 28, sass/base/typography.scss */
  .section__listen--description h3 {
    padding-top: 10rem;
    font-size: 2.4rem; }
  /* line 32, sass/base/typography.scss */
  .section__listen--description p {
    width: 50%;
    margin-top: 3rem;
    line-height: 1.5;
    font-size: 1.4rem; }

/* line 41, sass/base/typography.scss */
.section__find-box {
  padding-top: 5rem; }
  /* line 43, sass/base/typography.scss */
  .section__find-box--description {
    color: #fff; }
    /* line 45, sass/base/typography.scss */
    .section__find-box--description h3 {
      margin-top: 8rem;
      font-size: 2rem; }
    /* line 49, sass/base/typography.scss */
    .section__find-box--description p {
      font-size: 1.3rem;
      line-height: 2;
      margin-top: 2rem; }
  /* line 56, sass/base/typography.scss */
  .section__find-box--img img {
    display: block;
    margin: 0 auto;
    width: 20rem;
    height: 30rem; }

/* line 2, sass/pages/_landing.scss */
.section__flow {
  width: 95vw;
  height: 70vh;
  background-color: #161a1a;
  display: block;
  margin: 0 auto; }

/* line 9, sass/pages/_landing.scss */
.section__listen {
  width: 95vw;
  height: 60vh;
  background-image: url(/images/listen-back.PNG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto; }

/* line 19, sass/pages/_landing.scss */
.section__find {
  width: 95vw;
  height: 60vh;
  background-color: #161a1a;
  display: block;
  margin: 0 auto; }
