.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
}
