.landing__header {
  width: 95vw;
  height: 100vh;
  opacity: 0.99;
  background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.274)),
    url(/images/LLLLLS.avif);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 2rem;
  display: block;
  margin: 0 auto;
}
