.landing__header {
  width: 95vw;
  height: 100vh;
  background-image: url(/images/BG-22.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 2rem;
  display: block;
  margin: 0 auto;
}
