// landing page navigation
.landing__nav {
  display: flex;
  justify-content: space-between;
  // margin-top: 2rem;
  .landing__nav-menus {
    ul {
      display: flex;
      li {
        margin-left: 2.3rem;
        a {
          font-size: 1.8rem;
          color: $color-white;
          span {
            background-color: $color-white;
            transition: all 0.4s ease-in-out;
            color: rgba(129, 5, 109, 0.959);
            padding: 0.8rem 1rem;
            border-radius: 0.8rem;
            border: 1px solid $color-white;
            &:hover {
              background-color: transparent;
              color: $color-white;
            }
          }
        }
      }
    }
  }
}
// ----------------home__nav---------------------
.home__nav {
  padding-top: 3rem;
  color: $color-white;
  margin: 0 3rem;
  display: flex;
  justify-content: space-between;
  .home__nav--left {
    display: flex;
    &--list {
      ul {
        margin-top: 1rem;
        display: flex;
        li {
          margin-left: 4rem;

          a {
            color: $color-white;
            font-size: 1.6rem;
            font-weight: 600;
            &:hover {
              background-image: linear-gradient(to right, #2da7f8, #5f61e3);
              color: transparent;
              background-clip: text;
              -webkit-background-clip: text;
            }
          }
        }
      }
    }
  }
  &--right {
    input {
      background-color: #333;
      padding: 0.6rem 1rem;
      border-radius: 1.2rem;
      border: none;
      margin-right: 1rem;
      color: $color-white;
    }
    select {
      border: none;
      color: $color-white;
      background-color: transparent;
    }
  }
}
// -------------podcast__nav
.podcast__nav {
  .home__nav--left--list {
    ul {
      li {
        margin-left: 3rem;
      }
    }
  }
}
