.btn {
  position: absolute;
  color: $color-white;
  font-size: 1.4rem;
  bottom: -7rem;
  border: 1px solid $color-white;
  padding: 1.2rem 1.4rem;
  border-radius: 2rem;
  transition: 0.5s;
  @include respons(tab-land) {
    bottom: -5rem;
    padding: 0.8rem 1.4rem;
  }
  @include respons(tab-port) {
    bottom: -3.5rem;
    padding: 0.2rem 1rem;
  }
  @include respons(phone) {
    padding: 0.6rem 1rem;
    bottom: -7.5rem;
    left: 1rem;
    border-radius: 0.8rem;
  }
  &:hover {
    background-image: linear-gradient(to bottom, #2da7f8, #5f61e3);
  }
}
.header-btn {
  color: $color-white;
  font-size: 1.4rem;
  border: 1px solid $color-white;
  padding: 0.6rem 1.4rem;
  border-radius: 2rem;
  transition: 0.5s;
  @include respons(phone) {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  &:hover {
    background-image: linear-gradient(to right, #2da7f8, #5f61e3);
  }
}
.podcast_btn {
  position: relative;
  padding: 1rem5;
  border-radius: 1.9rem;
  display: block;
  margin: 0 auto;
  width: 20rem;
  text-align: center;
  margin-top: -3rem;
  transition: all 0.5s ease-in-out;
}
.btn_universal {
  color: $color-white;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  border: 1px solid #fff;
  padding: 0.6rem 5rem;
  border-radius: 2rem;
  transition: all 1s;
  animation-name: btn_universal__animation;
  animation-duration: 2s;
  animation-iteration-count: 1;
  &:hover {
    background-image: linear-gradient(to right, #2da7f8, #5f61e3);
  }
}
.artist_btn {
  display: block;
  margin: 4rem auto;
  width: 20rem;
  text-align: center;
  &--2 {
    margin-bottom: 8rem;
  }
}
// <a class="btn_universal artist_btn" href="#">SHOW MORE</a>
@keyframes btn_universal__animation {
  0% {
    transform: translateX(-80rem);
  }
  80% {
    transform: translateX(5rem);
  }
  100% {
    transform: translateX(0);
  }
}
// burger
.navigation__icon {
  transition: all 0.7s;
  position: absolute;
  top: 2.2rem;
  right: 1rem;
  width: 3rem;
  height: 4px;
  background-color: rgb(13, 195, 219);
  &::after {
    width: 100%;
    height: 4px;
    background-color: rgb(13, 195, 219);
    content: "";
    position: absolute;
    top: 1rem;
  }
  &::before {
    width: 100%;
    height: 4px;
    background-color: rgb(13, 195, 219);
    content: "";
    position: absolute;
    top: -1rem;
  }
}
.navigation__checkbox {
  &--label {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    border-radius: 50%;
    position: fixed;
    display: none;
    z-index: 200;
    @include respons(phone) {
      display: block;
    }
  }
  &--input {
    display: none;
    &:checked ~ .container {
      .landing__nav {
        opacity: 1;
        transform: scale(1);
      }
    }
    &:checked ~ .navigation__checkbox--label {
      .navigation__icon::after {
        transform: rotate(65deg);
        top: 0;
      }
      .navigation__icon {
        transform: rotate(58deg);
      }
      .navigation__icon::before {
        display: none;
      }
    }
  }
}
