.musicbox--card {
  color: $color-white;
  border: 1px solid $color-white;
  padding: 2rem;
  width: 100%;
  height: 30rem;
  position: relative;
  transition: all 0.5s;
  @include respons(tab-land) {
    width: 80%;
  }
  @include respons(tab-port) {
    height: 40vh;
    display: block;
    width: 16rem;
    padding: 0.4rem;
  }
  @include respons(phone) {
    width: 60%;
    height: 25rem;
    text-align: left;
    padding-left: 2rem;
    padding-top: 4rem;
    margin-bottom: 10rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 10rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.6rem;
    margin: 0.8rem 0;
    span {
      font-size: 1.2rem;
    }
  }
  ul {
    margin-top: 2 rem;
    li {
      font-size: 1.2rem;
      margin: 2rem 0;
      @include respons(tab-port) {
        margin: 0.2rem 0;
      }
    }
    i {
      margin-right: 1.5rem;
    }
  }

  &--2 {
    p {
      background-image: linear-gradient(to bottom, #2da7f8, #5f61e3);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      background-color: #333;
    }
    ul {
      i {
        background-image: linear-gradient(to bottom, #2da7f8, #5f61e3);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-color: #333;
      }
    }
  }
}
.section__premium--cards {
  padding: 0 10rem;
  @include respons(tab-land) {
    padding: 0;
  }
  @include respons(phone) {
    display: flex;
    flex-direction: column;
  }
}
