body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Mono", monospace;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.home__page-body,
.podcast__page-body {
  background-color: #161a1a;
}
input,
select {
  outline: none;
}
.active {
  border: 1px solid #173da7;
  padding: 0 0.8rem;
  border-radius: 1rem;
}
.playlist__body {
  background-image: url(/images/BG-2.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
