body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Mono", monospace;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  width: 80%;
  margin: 0 auto;
}

input,
select {
  outline: none;
}
.active {
  border: 1px solid #173da7;
  padding: 0 0.8rem;
  border-radius: 1rem;
}
.body {
  &__home__page,
  &__podcast__page {
    background-color: #161a1a;
  }
  &__playlist {
    background-image: url(/images/BG-2.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__albom {
    background-image: url(/images/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__releases {
    background-color: #161a1a;
  }
  &__artist {
    background-image: url(/images/orqa.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__myPlaylist {
    background-color: #161a1a;
  }
  &__history {
    background-color: #161a1a;
  }
  &__Mypodcast {
    background-color: #161a1a;
  }
  &__setting {
    background-color: #161a1a;
  }
  &__createPlaylist {
    background-color: #161a1a;
  }
  &__signUp {
    background-image: url(/images/BG-22.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__genre {
    background-color: #161a1a;
  }
}
// <div class="more">
// <div>
//   <i class="fa-solid fa-bullseye"></i>
//   1 SIDE
// </div>
// <select name="" id="">
//   <option value="">Albom Songs</option>
//   <option value="">Songs</option>
//   <option value="">Songs</option>
// </select>
// </div>
