.section__flow {
  &-box {
    padding-top: 1.5rem;
    &--img {
      img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 90%;
      }
    }
    &--description {
      margin-top: 8rem;
      color: $color-white;
    }
  }
  &--description {
    width: 100%;
    p {
      line-height: 1.5;
      margin-top: 2rem;
    }
  }
}
.section__listen {
  &--description {
    color: $color-white;
    h3 {
      padding-top: 10rem;
      font-size: 2.4rem;
    }
    p {
      width: 50%;
      margin-top: 3rem;
      line-height: 1.5;
      font-size: 1.4rem;
    }
  }
}
// section__find-box
.section__find-box {
  padding-top: 5rem;
  &--description {
    color: $color-white;
    h3 {
      margin-top: 8rem;
      font-size: 2rem;
    }
    p {
      font-size: 1.3rem;
      line-height: 2;
      margin-top: 2rem;
    }
  }
  &--img {
    img {
      display: block;
      margin: 0 auto;
      width: 20rem;
      height: 30rem;
    }
  }
}
.title {
  text-align: center;
  color: $color-white;
  font-size: 2.3rem;
}
.paragraph {
  text-align: center;
  color: $color-white;
  font-size: 1.4rem;
  padding: 3rem 0;
}
.comment {
  display: flex;
  justify-content: space-between;
  &__list {
    &--1 {
      ul {
        display: flex;
        li {
          margin-right: 2rem;
          a {
            color: $color-white;
            transition: 0.5s ease-in-out;
            &:hover {
              color: coral;
            }
          }
        }
      }
    }
    &--2 {
      select {
        border: none;
        outline: none;
        padding: 0.5rem 1.1rem;
      }
      p {
        text-align: center;
        color: $color-white;
        margin-top: 1.1rem;
      }
    }
  }
}
.more {
  color: $color-white;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  margin: 2.6rem 0;
  p {
    font-weight: 900;
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    &:hover {
      background-image: linear-gradient(to bottom, #2da7f8, #5f61e3);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
    }
  }
  i {
    cursor: pointer;
    transition: 0.5s ease-in-out;
    &:hover {
      background-image: linear-gradient(to bottom, #2da7f8, #5f61e3);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
    }
  }
}
.play {
  img {
    display: block;
    margin: 6rem auto;
    margin-bottom: 2rem;
    height: 6rem;
    width: 95vw;
  }
}
.music__podcast,
.music__types {
  div {
    img {
      width: 17rem;
      height: 10rem;
    }
  }
}
.landing__header {
  &-description {
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    h2 {
      font-size: 2.6rem;
      font-weight: 900;
      margin-bottom: 2rem;
    }

    p {
      margin-top: 4rem;
      span {
        color: blue;
      }
    }
  }
}
.middle {
  margin-left: 9rem;
}
.this__week {
  margin-top: 4rem;
}
.flex1 {
  div {
    text-align: center;
    margin-right: 2rem;
    p {
      color: $color-white;
      font-size: 1.2rem;
    }
    span {
      color: rgba(240, 248, 255, 0.432);
    }
  }
}
.feature_items {
  margin: 3rem 0;
}
.more {
  div {
    opacity: 0.7;
    display: flex;
    i {
      margin-right: 2rem;
    }
  }
  select,
  input {
    background-color: transparent;
    color: #fff;
    border: none;
    opacity: 0.7;
  }
}
.playlist__link {
  margin-top: 1rem;
  transition: all 0.5s ease-in-out;
  a {
    color: $color-white;
    font-size: 1.4rem;
    position: relative;
    margin-right: 1.4rem;
    transition: all 0.5s ease-in-out;
    &::after {
      transition: all 0.5s ease-in-out;
      position: absolute;
      top: 2rem;
      left: 0;
      content: "";
      width: 0;
      height: 0.2rem;
      background-color: #5f61e3;
    }
    &:hover::after {
      width: 100%;
    }
  }
}
.heading {
  margin-left: 3rem;
}
// about draw
.draw {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.363);
  margin: 2rem 0;
}
