.section__flow {
  &-box {
    padding-top: 1.5rem;
    &--img {
      img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 90%;
      }
    }
    &--description {
      margin-top: 8rem;
      color: $color-white;
    }
  }
  &--description {
    width: 100%;
    p {
      line-height: 1.5;
      margin-top: 2rem;
    }
  }
}
.section__listen {
  &--description {
    color: $color-white;
    h3 {
      padding-top: 10rem;
      font-size: 2.4rem;
    }
    p {
      width: 50%;
      margin-top: 3rem;
      line-height: 1.5;
      font-size: 1.4rem;
    }
  }
}
// section__find-box
.section__find-box {
  padding-top: 5rem;
  &--description {
    color: $color-white;
    h3 {
      margin-top: 8rem;
      font-size: 2rem;
    }
    p {
      font-size: 1.3rem;
      line-height: 2;
      margin-top: 2rem;
    }
  }
  &--img {
    img {
      display: block;
      margin: 0 auto;
      width: 20rem;
      height: 30rem;
    }
  }
}
.title {
  text-align: center;
  color: $color-white;
  font-size: 2.3rem;
}
.paragraph {
  text-align: center;
  color: $color-white;
  font-size: 1.4rem;
  padding: 3rem 0;
}
.comment {
  display: flex;
  justify-content: space-between;
  &__list {
    &--1 {
      ul {
        display: flex;
        li {
          margin-right: 2rem;
          a {
            color: $color-white;
            transition: 0.5s ease-in-out;
            &:hover {
              color: coral;
            }
          }
        }
      }
    }
    &--2 {
      select {
        border: none;
        outline: none;
        padding: 0.5rem 1.1rem;
      }
      p {
        text-align: center;
        color: $color-white;
        margin-top: 1.1rem;
      }
    }
  }
}
