.albom {
  padding: 1rem;
  margin: 1rem 0;
  .colum1 {
    img {
      margin-top: -1.5rem;
      margin-right: 0.8rem;
    }
    display: flex;
  }
  padding-top: 1.6rem;
  &:hover {
    background-color: rgba(255, 255, 255, 0.293);
    transition: all 0.6s;
    div {
      color: rgba(255, 255, 255, 0.973);
    }
  }
  div:not(:first-child) {
    text-align: right;
  }
  div {
    color: #fff;
    font-size: 1.4rem;
    span {
      color: #fff;
      opacity: 0.5;
    }
    i {
      &:hover {
        color: crimson;
      }
    }
  }
}
