.search__playlist {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-left: 14rem;
  select,
  input {
    background-color: transparent;
    color: #fff;
    border: none;
    opacity: 0.7;
  }
}
