.flow__img {
  img {
    height: 20rem;
    width: 35rem;
    border-radius: 1rem;
  }
}
.flow__img--2 {
  text-align: center;
  color: $color-white;
  img {
    height: 16em;
    width: 16.5rem;
    border-radius: 1rem;
  }
  .like {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    opacity: 0.7;
  }
}
.images__artists {
  margin-bottom: 6rem;
}
