// section__flow page
.section__flow {
  &-box {
    padding-top: 1.5rem;
    @include respons(phone) {
      display: grid;
      grid-template-columns: repeat(1fr, 2fr);
    }
    @include respons(phone) {
      display: flex;
      flex-direction: column;
      padding-top: 0.3rem;
    }
    &--img {
      img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 90%;
        @include respons(tab-land) {
          width: 80%;
        }
        @include respons(phone) {
          width: 100%;
          margin-left: 0;
        }
      }
    }
    &--description {
      margin-top: 8rem;
      color: $color-white;
      @include respons(phone) {
        margin-top: 0;
      }
    }
  }
  &--description {
    width: 100%;
    p {
      line-height: 1.5;
      margin-top: 2rem;
    }
  }
}
.section__listen {
  &--description {
    color: $color-white;
    h3 {
      padding-top: 10rem;
      font-size: 2.4rem;
      @include respons(phone) {
        padding-top: 2rem;
      }
    }
    p {
      width: 50%;
      margin-top: 3rem;
      line-height: 1.5;
      font-size: 1.4rem;
    }
  }
}
// section__find-box
.section__find-box {
  padding-top: 5rem;
  @include respons(tab-port) {
    padding-top: 0;
  }
  @include respons(phone) {
    display: flex;
    flex-direction: column-reverse;
  }
  &--description {
    color: $color-white;
    h3 {
      margin-top: 8rem;
      font-size: 2rem;
      @include respons(tab-land) {
        margin-top: 2rem;
      }
    }
    p {
      font-size: 1.3rem;
      line-height: 2;
      margin-top: 2rem;
    }
  }
  &--img {
    img {
      display: block;
      margin: 0 auto;
      width: 20rem;
      height: 30rem;
      @include respons(tab-land) {
        height: 20rem;
        width: 15rem;
      }
      @include respons(tab-port) {
        height: 15rem;
        width: 10rem;
        margin-top: 4rem;
      }
    }
  }
}
$tepa: 0px;
.section {
  &__flow {
    width: 95vw;
    height: auto;
    // padding-bottom: 5rem;
    background-color: $section-background;
    display: block;
    margin: 0 auto;
    top: $tepa;
    @if ($tepa==20px) {
      .navigation__checkbox--label {
        background-color: rgb(255, 28, 28);
      }
    }
    @include respons(tab-land) {
      height: auto;
    }
    @include respons(phone) {
      height: auto;
      padding-bottom: 5rem;
    }

    &--icon {
      transition: all 0.6s;
    }
    &-box--img {
      transform: scale(0.7);
      transition: all 0.7s;
      width: 35rem;
      height: 35rem;
      margin-top: 5rem;
      &:hover {
        .section__flow-box--img {
          transform: scale(1);
        }
        .section__flow--icon {
          transform: translateX(-1rem);
        }
      }
      @include respons(tab-land) {
        height: auto;
      }
      @include respons(phone) {
        height: 100%;
        width: 25rem;
        display: block;
        margin: 0 auto;
        &:hover {
          transform: scale(0.7);
          margin-left: 0;
        }
      }
    }
  }
  &__listen {
    width: 95vw;
    height: auto;
    padding-bottom: 4rem;
    background-image: url(/images/qqqq.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: 0 auto;
    @include respons(tab-land) {
      height: auto;
      padding-bottom: 3rem;
    }
    @include respons(phone) {
      height: auto;
    }
  }
  &__find {
    width: 95vw;
    height: auto;
    padding-bottom: 4rem;
    background-color: $section-background;
    display: block;
    margin: 0 auto;
    &-box--img {
      transform: rotateY(-180deg);
      transition: all 0.6s;
    }
    &-box--img {
      &:hover {
        transform: rotateY(0deg);
      }
    }
  }
  &__premium {
    width: 95vw;
    height: 95vh;

    background-color: $section-background;
    display: block;
    margin: 0 auto;
    padding: 0 10rem;
    overflow: hidden;
    &-icons {
      padding: 0 6rem;
      margin-top: 4rem;
      @include respons(phone) {
        display: flex;
        flex-direction: column;
      }
    }
    @include respons(tab-land) {
      height: auto;
      padding-bottom: 5rem;
    }
    @include respons(tab-port) {
      height: auto;
      padding-bottom: 5rem;
    }
    @include respons(phone) {
      height: auto;
      padding: 0;
      padding-top: 8rem;
    }
  }
}
.icon {
  @include respons(phone) {
    display: flex;
    margin-bottom: 3rem;
  }
  i {
    transform: scale(0.6);
    transition: all 0.6s;
    margin-bottom: 1rem;
  }
}
.icon {
  i {
    &:hover {
      transform: scale(0.8);
      box-shadow: rgb(247, 247, 247) 0px 7px 29px 0px;
    }
  }
}
.musicbox--card--1 {
  animation-name: card-1;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  @include respons(tab-land) {
    margin-left: 5rem;
  }
  @include respons(phone) {
    display: block;
    margin-left: 0;
  }
}
.musicbox--card--2 {
  animation-name: card-2;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  @include respons(phone) {
    padding: 1rem;
    display: block;
  }
}
@keyframes card-1 {
  0% {
    transform: translateX(-60rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes card-2 {
  0% {
    transform: translateX(60rem);
  }
  100% {
    transform: translateX(0);
  }
}
.comment__list--2 select {
  background-color: transparent;
  color: #fff;
}
.burger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
