.loginIn {
  &__card {
    position: relative;
    background-color: #fff;
    width: 30%;
    margin: 10rem auto;
    height: 65vh;
    padding: 2rem 5rem;
    border-radius: 1rem;
  }
  &__btn {
    background-color: #edf9ff;
    display: block;
    margin: 1.2rem auto;
    padding: 1rem;
    text-align: center;
    color: #555;
    width: 90%;
    border: 1px solid #555;
    border-radius: 0.6rem;
    transition: all 0.8s;
    &:hover {
      background-color: #555;
      color: #ffffff;
    }
  }
  &__check {
    display: flex;
    p {
      margin-top: 0.6rem;
      width: 100%;
    }
  }
}
.login__popup,
.sign__popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(85, 85, 85, 0.763);
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
}
.login__popup:target {
  opacity: 1;
  visibility: visible;
}
.landing__header:target {
  .login__popup {
    opacity: 0;
    visibility: hidden;
  }
}
.sign__popup:target {
  opacity: 1;
  visibility: visible;
}
.signUp__card {
  margin-top: 6rem;
}
